.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.IncBtn {
    background-color: coral;
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}